.label {
  color: rgba(0, 0, 0, 0.54);
}

.contextContainer {
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.87);
}

.container :global(.common-multi-select-field) label {
  color: rgba(0, 0, 0, 0.54);
}

.error {
  composes: label;
  color: rgb(244, 67, 54);
}
