.details__container.call,
.call-details__empty-container {
  height: calc(100vh - 150px);
}

.call-details__empty-container {
  text-align: center;
  padding-top: 30%;
}
.details__container.call .label {
  text-transform: capitalize;
  padding: 10px 0 10px 20px;
}
.details__container.call .value {
  padding: 10px 20px 10px 0;
}

.details__container.call .section-title {
  height: 40px;
}
