.isLoading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.json {
  overflow-y: auto;
  padding: 10px 0;
  margin: 0;
  line-height: 16px;
}

.table :global(.ag-cell-wrapper) {
  align-items: flex-start;
  height: 100%;
}
