.agGridLayout {
  composes: ag-theme-material from global;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.agGridContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.agGridContainer :global(.ag-cell-wrapper, .ag-cell-wrapper.ag-row-group) {
  align-items: center;
}

.agGridContainer
  :global(.ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value)) {
  align-items: center;
}

.agGridContainer :global(.ag-cell) {
  align-items: center;
  display: flex;
}

.agGridContainer :global(.ag-cell-value) {
  margin: auto 0;
  line-height: 1.5em !important;
  min-height: 40px;
  align-items: center;
  display: flex;
}

.agGridContainer :global(.ag-cell-wrapper) {
  height: max-content;
}

.rowClassCenter {
  display: flex;
  align-items: center;
}

.agGridContainer :global(.ag-tool-panel-wrapper > .ag-react-container) {
  width: 100%;
}
