.usersContainer {
  height: 90vh;
  margin: 0 auto;
  overflow: auto;
  display: flex;
}

.image {
  max-width: 80%;
  max-height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.table {
  border-collapse: collapse;
}

.section {
  margin-top: 50px;
}
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.list {
  list-style: none;
  padding-left: 20px;
}

.toc {
  height: calc(100vh - 70px);
  position: absolute;
  width: 350px;
  z-index: 1;
  left: 0;
  overflow: auto;
  padding-top: 20px;
  border-right: 1px solid #eee;
}
.content {
  padding: 25px;
  position: absolute;
  right: 0px;
  width: calc(100% - 350px);
  overflow: auto;
  height: calc(100vh - 70px);
  scroll-behavior: smooth;
}

.heading {
  margin-top: 30px;
}

.heading:first-child {
  margin-top: 30px;
}

.heading:not(:first-child) {
  margin-top: 60px;
}

.toc > ul {
  list-style: none;
}

.pre {
  background: #f6f8fa;
  padding: 5px 5px;
  width: 70%;
}

.code {
  background: #f6f8fa;
  padding: 2px 2px;
}

.links {
  color: black;
  opacity: 0.6;
}
