.usersContainer {
  height: 90vh;
  margin: 0 auto;
  overflow: auto;
  display: flex;
}

.section {
  padding-top: 50px;
}

.heading:first-child {
  padding-top: 30px;
}

.heading:not(:first-child) {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
}

.toc {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow: auto;
  padding-top: 20px;
  border-right: 1px solid #eee;
}
.content {
  padding: 0 25px 25px;
  position: absolute;
  right: 0px;
  width: calc(100% - 150px);
  overflow: auto;
  height: calc(100vh - 70px);
  scroll-behavior: smooth;
}

.toc > ul {
  list-style: none;
  padding-left: 20px;
}

.links {
  color: black;
  opacity: 0.6;
}

.toc li:last-child {
  margin-top: 15px;
  font-weight: 400;
  opacity: 0.4;
  text-align: left;
  line-height: 15px;
}
