.item {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.item:first-child {
  margin-top: 0;
}

.item > div:first-child {
  min-width: 175px;
}

.selectWrapper {
  display: flex;
  flex-grow: 1;
}
