.actions {
  display: flex;
  flex-direction: row;
}

.actions > div.deleteAllData {
  margin: 5px 0 0 0;
}

.actionsStateEvent {
  display: flex;
  flex-direction: row;
}

.viewRaw {
  margin-left: 20px;
}

.editor {
  height: 200px;
}

.deleteButtonContainer {
  position: relative;
}

.deleteButton {
  position: absolute;
  right: 20px;
  top: 44px;
  z-index: 1;
}

.deleteBadge {
  top: 10px;
  right: 10px;
}

.deleteNames {
  margin: 16px 0;
  font-weight: 700;
  word-break: break-word;
}

@media (min-width: 500px) {
  .actions {
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  .actions > div.userState {
    width: calc(44%);
  }

  .actions > div.sendEvents {
    margin-left: 10px;
    width: calc(44%);
  }

  .actions > div.buttons {
    width: calc(10%);
  }
}

.buttons {
  margin: 5px 0px 20px 10px !important;
  display: flex;
}
