.container {
  height: 100%;
}
.stretchContainer {
  height: 100%;
}

.containerSeparator {
  border-right: 1px solid rgba(192, 192, 192, 0.5);
  padding-right: 20px;
}

.gridContainer {
  height: 100%;
  min-height: 300px;
}

.inActive {
  visibility: hidden;
}

.rarityFilter {
  align-self: flex-start;
  max-width: 500px;
}

.inventoryFilter {
  align-self: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  width: 100%;
}

.darkMode {
  background-color: #191f28;
}

.label {
  margin-right: 10px;
}

.deleteButton {
  color: rgb(0, 0, 0);
}

.tableDark {
  /* TODO: Customize ag-theme-material to a dark theme version here */
}

@media (max-width: 1390px) {
  .containerSeparator {
    border: 0px;
    padding-right: 0px;
  }
}
