.flexContainer {
  display: flex;
  flex-grow: 1;
}

.commandContainer {
  display: flex;
}

.timestampContainer {
  align-self: flex-end;
  margin-right: 66px;
}

.sendButton {
  height: 100%;
  width: 60px;
}

.formRoot {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  flex-grow: 1;
  margin-bottom: 0px;
}

.input input {
  font-weight: bolder;
}
