.daysOfWeekHeader,
.daysOfWeek {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.daysOfWeekHeader span {
  font-weight: 600;
  min-height: 24px;
  min-width: 24px;
  text-align: center;
}

.dayStyle {
  position: relative;

  min-height: 24px;
  min-width: 24px;
  transition: 0.2s;
  border-radius: 30px;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
}
