.dropdownContainer {
  margin-left: 5px;
}

.linkStyles {
  color: rgba(0, 0, 0, 0.87);
}

.iconStyle {
  color: white;
  opacity: 0.5;
  transition: 0.2s all ease-in;
}

.iconStyle:hover {
  opacity: 1;
}

.label {
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}

.rnContainer {
  max-width: 90%;
  clear: both;
  margin: 10px auto;
  overflow-x: hidden;
}

.releaseHeader {
  color: #4ac0f1;
  font-size: 10px;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: bolder;
}

.heading {
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: auto;
  max-height: 32px;
  line-height: 29px;
  color: #fff;
  border-top: 1px solid #656971;
}

.heading:not(:first-child) {
  margin-top: 5px;
}

.unreadBanner {
  color: #fff;
  font-size: 8px;
  padding: 2px;
  float: right;
  line-height: 12px;
  padding: 2px 5px;
  margin: 5px 0 0 0;
  background: #b71c1c;
}

.close {
  float: right;
  cursor: pointer;
  outline: none;
}

.ulStyles {
  list-style-type: none;
  padding-left: 20px;
  margin-left: -8px;
}

.list:before {
  content: '\2013';
  position: absolute;
  margin-left: -10px;
}

.list {
  font-size: 12px;
  padding: 0;
  line-height: 16px;
  color: white;
  opacity: 0.6;
}
